PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bus_ticket_system"
JWT_ACCESS_SECRET="change-me-access-secret"
JWT_REFRESH_SECRET="change-me-refresh-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"


# eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjbW8zMmh5bWowMDAxeDBpcDM0bzg4djI1IiwiZW1haWwiOiJyYWtlc2hAdGVzdC5jb20iLCJyb2xlIjoiVVNFUiIsImlhdCI6MTc3NjQzOTk4MSwiZXhwIjoxNzc2NDQwODgxfQ.05xUHxDtOtkG9-KBETateXJgXpf9zmKxzphsZJWCaJ8